*{
    margin: 0;padding: 0;box-sizing: border-box;
text-decoration: none;
}

body{
    /* background: #000; */

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;text-align: center;
    flex-direction: column;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: #ffffff;
    border-radius: 8px;
    padding: 5px;
    /* border: 1px solid black; */
box-shadow: 2px 2px 3px rgb(72, 72, 72);
}

.input{
  width: 100%;

  padding: 15px;
}

input, button{
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
  border-radius: 4px;

}

button{
    font-weight: 600;
    background: #046fc7;
    color: rgb(255, 255, 255);
    border: none; 
    margin-top: 1rem;
}
button:hover{
    background-color: #055495;
    cursor: pointer;
}


#forget{
    margin-top: 0.65rem;
    font-size: 19px;
    color: #000000;
    cursor: pointer;

}
span{
    font-weight: 600;
    cursor: pointer;

}

#or{
    margin: 1rem 0rem;
    font-size: 27px;
    cursor: pointer;

}

#with{
    font-size: 19px;
    color: #046fc7;
    font-weight: 600;
    cursor: pointer;

} 
input:focus{
    border: 1px solid #046fc7;
}

form{
    width: 100%;
}


.user-error{
  display: none;
    text-align:left ;
   color: red;
}
.pass-error{
  display: none;
    text-align:left ;
   color: red;
}
